html{
  height: 100%;
  background-color: #eee4f0;
}
body {
  /* font-family: Arial, sans-serif; */
  display: flexbox;
  height: 100%;
  width: 100%;
}
header {
  display: flex;
  position: relative;
  align-items: center; /* Centrar verticalmente los elementos */
  background-color: #61366b;
  margin: 2px;
  box-shadow: 0px 0px 10px 0px #e6c5f3;
  margin-bottom: 1.5%;
  border-radius: 10px;
  border-bottom: #fff;
  padding: 25px;

}

.logo {
  margin-left: 2%; /* Agregar un margen a la derecha del logo */

 }

 .logo >a{
  text-decoration: none;
 }

 .logo > a > img {
  height: 80px;
  box-shadow: 0px 0px 20px 10px  #c578d8;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
ul.menu{
  height: 100%;
}
/* Estilos para el menú principal */
.menu
{
    list-style: none;
    margin: 0;
    padding: 20px;

  }

  .menu > li {
    display: inline-block;
    margin: 15px;

  }

  .menu > li > a
  {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    background-color:#472a4e;
    box-shadow:inset 0px 0px 7px 1px  #c578d8;
    font-size: 16px;
    border-width: 10px;
    border-color: #fff;
    border-radius: 10px;
  }
  .menu > li > a:hover {
    box-shadow: 0px 0px 25px 5px  #c578d8;
    color: #fff;

    }


    @media screen and (max-width:1315px) {

      .cart-section{
        width: 25%;
      }
      .products-section {
        width: 55%;
      }
      .products-section div.product{
       min-width: 20%;
      }

      .categorias {
        display: block;
      }
    
    
    }

@media screen and (max-width:1267px) {

  .cart-section{
    min-width: 100%;
  }
  .products-section {
    min-width: 100%;
    margin: 5px 0px 0px 0px;
  }
  .products-section div.product{
   min-width: 18%;
   
  }

  }
  @media screen and (max-width: 936px) {
    .products-section div.product{
      min-width: 25%;      
     }
      header{
        display: block;
        text-align: center;
      }
      nav{
          align-items: center;
          justify-content: center;


      }
      ul.menu{
        width: 100%;
        padding: 0px;
        display: flex;
        margin: 10px;


      }
      .menu li{
        width: 100%;
        justify-content: center;
        margin: 10px;
      }
      .menu li a{
        display: block ;
        padding: 7px 0px 7px 0px;

        width: 100%;

      }

      .logo > a > img {
        width: 20%;
        height: 20%;
        padding: 10px;
        margin: 0 0 0 20px;
      }


  }
  
  @media screen and (max-width: 563px) {
    .products-section div.product{
      min-width: 50%;      
      text-align: center;
      
     }
        ul.menu{
          display: flex;
          flex-direction: column;

        }
        .menu li{
          margin: 0;
        }
        .menu > li > a{
          margin-top: 3px;
        }
        .logo > a > img {
          width: 70px;
          height: 80px;
          padding:10px 0px 0px 10px;
          align-items: center;
          justify-content: center;
          margin: 0px 0px 0px 10px;
        }


    }
    /* Formulario */
    .container {
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 7px;
      background-color: #472a4e;
      box-shadow: 0px 0px 10px 2px #e6c5f3;

    }
    .container2 {
      margin: 20px auto;
      max-width: 80%;
      padding: 20px;
      border-radius: 7px;
      background-color: #472a4e;
      font-size: 15px;
      box-shadow: 0px 0px 10px 0px #e6c5f3;
      color: #fff;
    }
    .container2 mark{
      color: #fff;
      font-size: 16px;
      background-color: #8A5397;
    }
    .container2 em,
    .container2 strong{
      font-size: 16px;
    }
    .container2 H1{
      font-size: 40PX;
      text-align: left;
    }
    .container2 H2{
      font-size: 30PX;
      text-align: center;
      margin-left: 3PX;
    }
    .container2 H3{
      font-size: 25PX;
      text-align: center;
    }
    h1{
      text-align: center;
      margin: 0 0 20px 20px;
      font-size: 40px;
      color: #fff;
    }
    h2 {
      margin-left: 10%;
      font-size: 30px;
      color: #fff;
    }
    .cart-section h2,
    .products-section h2 {
      text-align: center;
    }
    .form-group {
      margin: 0 20px 20px 0;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 15px;
      color: #fff;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    textarea{
      width: 100%;
      padding: 10px;
      font-size: 15px;
      border: 2px solid #fff;
      background-color: #ecebf3;
      color: #000;
      border-radius: 7px;
      transition: border-color 0.3s ease;
    }
    textarea{
      min-height: 80px;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    textarea:focus{
      outline: none;
      box-shadow:  0px 0px 7px 3px  #c578d8;
    }

    input[type="text"]:focus::placeholder,
    input[type="email"]:focus::placeholder,
    input[type="password"]:focus::placeholder,
    input[type="tel"]:focus::placeholder{
      opacity: 0;
    }

    input[type="text"]:disabled,
    input[type="email"]:disabled,
    input[type="password"]:disabled,
    input[type="tel"]:disabled{
      outline: none;
      color: #c9c2cf;
      background-color: #8d7e9c;
    }
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="tel"]::placeholder{

      color: #ccb2d3;
    }

    .btn {
      display: inline-block;
      padding: 15px 30px;
      background-color:#472a4e;
      box-shadow:inset 0px 0px 7px 1px  #ddb1ec;
      color: #fff;
      text-decoration: none;
      font-size: 15px;
      border-radius: 7px;
      transition: background-color 0.3s ease;
      border: none;
      margin-top: 10px;
    }

    .btn:hover {
      box-shadow: 0px 0px 25px 5px  #ddb1ec;
      cursor: pointer;
    }
    main {
      margin: 20px auto;
      padding: 0 20px;
    }


    /* Productos */

    .cart-section h2,
    .products-section h2{
      width: 100%;
    }
    .products-section div.product {
      min-height:auto;
      font-size: 15px;
      padding: 20px;
      width: 18%;
      margin: 5px 0px 20px 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 20px;
      
    box-shadow:inset 0px 0px 10px 0px #e6c5f3;

    }

    .product img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
      
    }

    .product .details {
      flex-grow: 1;
      text-align: center;
    }

    .product .add-to-cart {
      margin-top: 10px;
    }



    h3 {
      color: #fff;
      font-size: 20px;
      margin: 20px 0 0 0 ;
    }

    .cart .item {
      width: 100%;
      margin: 15px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: inset 0px 0px 10px 0px #c578d8;

    }

    .cart .item .name {
      font-weight: bold;
      color: #fff;
      width: 100%;
      padding: px;
    }

    .cart .item .price {
      color: #ffffff;
      margin: 15px;

    }

     .cart .total {
      color: #ffff;
      width: 100%;
      border-radius: 10px;
      box-shadow: inset 0px 0px 10px 0px #fff;
      padding: 10px;
      font-size: 20px;
      background-color: #000;
            
    }
    
    div#footer{
    padding: 1px;
    background-color: #301227;
    padding-right: 4%;
    border-radius: 5px;
    text-align: end;
    line-height: 25px;
    box-shadow: 0px 0px 10px 0px #e6c5f3;
    color: #fff;
    font-size: 13px;
  }






 /* Estilos generales */
 .nav-section{
  width: 100%;
 }
 #productoscat {
  width: 100%;
  color: #fff;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: #8A5397;
  box-shadow: 0px 0px 10px 0px #e6c5f3;
  
  margin-bottom: 1.5%;
  font-size: 16px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
}

#productoscat .categorias {
  
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around

}

#productoscat .categorias li {
  /* width: 12%; */
  border-radius: 5px;
  margin: 15px 0px 15pX 0px;
  
}

#productoscat .categorias li a {
  padding: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 5px;
  min-width: 150px;
  box-shadow:  0px 0px 10px 2px #42264d;

}
#productoscat .categorias .subcategorias,
#productoscat .categorias .subcategorias2{
  display: none;
  position: relative;
  border-radius: 5px;
  padding: 5px 0 5px 5px;
}

#productoscat .categorias .subcategorias li,
#productoscat .categorias .subcategorias2 li{
  margin: 10px 0px 10px 0px;
}


/* Mostrar subcategorías al pasar el ratón */
#productoscat .categorias li:hover,
#productoscat .categorias li:hover > .subcategorias,
#productoscat .subcategorias li:hover > .subcategorias2{
  display: block;
}
#productoscat .categorias li a:hover,
#productoscat .subcategorias li a:hover,
#productoscat .subcategorias li > .subcategorias2 li a:hover{

  box-shadow: 0px 0px 15px 5px #e6c5f3;
}

/* Estilos adicionales para la barra de menú */


 .cart{
  background-color: #472A4E;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 5px;
  display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

  .cart-section {
    padding: 5px;
    width: 21%;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    background-color: #472A4E;
    box-shadow: 0px 0px 10px 0px #e6c5f3;
    border-radius: 10px;
  }

  /* Estilos de ejemplo para las secciones */


  .products-section {
    background-color: #472A4E;
    margin-left:5px;
    padding: 5px;
    width: 77%;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #e6c5f3;
    border-radius: 10px;
    border-bottom: #fff;
    flex-wrap: wrap;
    align-content:flex-start ;
    justify-content: space-around;
    display: flex;

  }


  #prod-conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
  }